<!-- footer.html -->
<footer class="position-relative w-100 bg-light py-4 mb-4 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4 info">
                <img src="path/to/the/logo.png" alt="Company Logo" class="logo">
                <h4>Company Name</h4>
                <p>Company Description</p>
                <p>Slogan</p>
                <p>Exact Address</p>
            </div>

            <div class="col-md-4 info">
                <h4>Contact</h4>
                <p>Contact Email</p>
                <p>Phones:</p>
                <p class="phone">Phone Number 1</p>
                <p class="phone">Phone Number 2</p>
            </div>

            <div class="col-md-4 info">
                <h4>Fiscal Identity</h4>
                <p>NIF: Tax Identification Number</p>
                <p>STAT: STAT Number</p>
                <p>RCS: RCS Number</p>
            </div>
        </div>
    </div>
</footer>
