<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="css/employeeStyles.css" rel="stylesheet1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>Employee Management</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<!-- Ajout d'une marge équivalente à la hauteur du header -->
<div style="height: 80px;"></div>

<div class="container mt-4" >
    <h1>Employee Details</h1>
    <div>
        <!-- Détails de l'employé ici -->
        <p>ID: <span th:text="${employee.id}"></span></p>
        <p>First Name: <span th:text="${employee.firstName}"></span></p>
        <p>Last Name: <span th:text="${employee.lastName}"></span></p>
        <p>Birth Date: <span th:text="${#dates.format(employee.birthDate, 'yyyy-MM-dd')}"></span></p>
        <p>Ref: <span th:text="${employee.ref}"></span></p>
        <p th:if="${employee.sex != null}">Sex: <span th:text="${employee.sex}"></span></p>
        <p th:if="${employee.address != null}">Address: <span th:text="${employee.address}"></span></p>
        <p th:if="${employee.personalEmail != null}">Personal Email: <span th:text="${employee.personalEmail}"></span></p>
        <p th:if="${employee.professionalEmail != null}">Professional Email: <span th:text="${employee.professionalEmail}"></span></p>
        <p th:if="${employee.cinNumber != null}">CIN Number: <span th:text="${employee.cinNumber}"></span></p>
        <p th:if="${employee.cinCreateDate != null}">CIN Create Date: <span th:text="${#dates.format(employee.cinCreateDate, 'yyyy-MM-dd')}"></span></p>
        <p th:if="${employee.cinCreatePlace != null}">CIN Create Place: <span th:text="${employee.cinCreatePlace}"></span></p>
        <p th:if="${employee.position != null}">Position: <span th:text="${employee.position}"></span></p>
        <p th:if="${employee.childrenNumber != null}">Children Number: <span th:text="${employee.childrenNumber}"></span></p>
        <p th:if="${employee.hireDate != null}">Hire Date: <span th:text="${#dates.format(employee.hireDate, 'yyyy-MM-dd')}"></span></p>
        <p th:if="${employee.departureDate != null}">Departure Date: <span th:text="${#dates.format(employee.departureDate, 'yyyy-MM-dd')}"></span></p>
        <p th:if="${employee.csp != null}">CSP: <span th:text="${employee.csp}"></span></p>
        <p th:if="${employee.cnapsNumber != null}">CNAPS Number: <span th:text="${employee.cnapsNumber}"></span></p>
        <div th:if="${!phoneNumbers.isEmpty()}">
            <p>Phone Numbers: </p>
            <div th:each="phonNumber : ${phoneNumbers}" >
                <div th:text="${phonNumber.number}"></div>
            </div>
        </div>
        <p>Passport photo:</p>
        <div th:if="${employee.image != null}">
            <!-- Utilisation de la chaîne de base64 pour afficher l'image avec une limite de hauteur -->
            <img th:src="'data:image/png;base64,' + ${employee.image}" alt="Photo" class="img-fluid max-height-60">
        </div>
        <div th:unless="${employee.image != null}">
            <p>Aucune image</p>
        </div>
    </div>
    <a href="/">Back to Employee List</a>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>











